@font-face {
  font-family: poppins;
  src: url(../css/fonts/Poppins-Regular.ttf); }
@font-face {
  font-family: poppins-bold;
  src: url(../css/fonts/Poppins-Bold.ttf); }
@font-face {
  font-family: poppins-black;
  src: url(../css/fonts/Poppins-Black.ttf); }
@font-face {
  font-family: poppins-extrabold;
  src: url(../css/fonts/Poppins-ExtraBold.ttf); }
@font-face {
  font-family: muli-bold;
  src: url(../css/fonts/Muli-Bold.ttf); }
img {
  max-width: 100%; }

a {
  text-decoration: none; }

.taskia-btn, .main-nav .main-nav__link a, .main-header .main-header__form button, .task-software .task-software__Learn-btn, .main-footer .main-footer__form button {
  border: 2px solid #525ffb;
  padding: 8px 29px;
  border-radius: 100px; }

.hover, .main-header .main-header__form button:hover, .task-software .task-software__Learn-btn:hover, .main-footer .main-footer__form button:hover {
  color: #525ffb;
  background-color: #fff;
  transition: 0.5s; }

.main-nav {
  padding: 57px 0;
  margin-bottom: 75px; }
  .main-nav .main-nav__header {
    color: #525ffb;
    text-align: right;
    font-family: poppins;
    font-weight: 800;
    letter-spacing: -2.82px;
    line-height: 0.38;
    margin-bottom: 0; }
  .main-nav .main-nav__link {
    text-align: left;
    font-family: muli-bold;
    line-height: 1.35;
    letter-spacing: 1.08px; }
    .main-nav .main-nav__link a {
      font-family: muli-bold;
      font-size: 20px;
      font-weight: bold;
      box-shadow: none; }
    .main-nav .main-nav__link :hover {
      background-color: #525ffb;
      color: #fff;
      transition: 0.5s; }

.main-header {
  margin-bottom: 150px; }
  .main-header .main-header__info {
    display: flex;
    align-items: center; }
  .main-header .main-header__title {
    font-size: 35px;
    font-family: poppins-black;
    font-weight: 900;
    line-height: 1.39;
    letter-spacing: -0.49px;
    color: #1e1c24;
    text-align: right; }
  .main-header .main-header__paragraph {
    font-family: muli-bold;
    font-size: 20px;
    line-height: 1.75;
    color: #b1aaaa;
    text-align: right;
    margin-bottom: 50px; }
  .main-header .main-header__form-input {
    padding: 15px 80px 15px 20px;
    border-radius: 100px;
    border: solid 2px #b1aaaa;
    font-family: muli-bold;
    margin-left: 25px;
    margin-bottom: 25px;
    outline: 0; }
  .main-header .main-header__form-input::placeholder {
    color: #1e1c24d9;
    letter-spacing: 0.8px;
    line-height: 4.55; }
  .main-header .main-header__form button {
    font-family: poppins-bold;
    padding: 15px 40px;
    color: #fff;
    background-color: #525ffb; }

.service {
  margin-bottom: 100px; }
  .service .sevice__row {
    display: flex;
    flex-direction: column; }
  .service .service__main-header {
    font-family: poppins-bold;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #1e1c24;
    margin-bottom: 50px; }
  .service .my-card {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    color: #fff; }
    .service .my-card .my-card__body {
      padding: 5px;
      text-align: center; }
    .service .my-card .my-card__title {
      font-family: poppins;
      width: 76%;
      margin: auto;
      font-weight: 800;
      line-height: 1.33;
      text-align: center;
      color: #1e1c24;
      margin-bottom: 20px;
      font-size: 30px; }
    .service .my-card .my-card__paragraph {
      font-family: muli-bold;
      font-size: 16px;
      line-height: 1.63;
      text-align: center;
      color: #1e1c24; }
  .service .my-card--edit1 {
    border: 1px solid #525ffb;
    border-radius: 15px;
    background-color: #525ffb; }
    .service .my-card--edit1 .my-card__paragraph {
      color: #ffffff; }
    .service .my-card--edit1 .my-card__title {
      color: #ffffff; }
  .service .my-card--edit2 {
    border: 1px solid #e9f0ff;
    border-radius: 15px;
    background-color: #e9f0ff; }
  .service .my-card--edit3 {
    border: 1px solid #ffe7aa;
    border-radius: 15px;
    background-color: #ffe7aa; }

.task-software {
  margin-bottom: 220px; }
  .task-software .task-software__header {
    font-family: poppins-bold;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: #1e1c24; }
  .task-software .task-software__paragrapgh {
    font-family: muli-bold;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    color: #b1aaaa;
    margin-bottom: 30px; }
  .task-software .task-software__Learn-btn {
    color: #fff;
    background-color: #525ffb;
    font-family: poppins-bold;
    padding: 18px 65px;
    font-weight: 600;
    letter-spacing: 0.92px; }

.workflow {
  margin-bottom: 160px; }
  .workflow .workflow__header {
    font-family: poppins-bold;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
    color: #1e1c24; }
  .workflow .workflow__paragrapgh {
    font-family: muli-bold;
    font-size: 14px;
    line-height: 1.67;
    color: #b1aaaa;
    margin-bottom: 25px; }
  .workflow .workflow__icons {
    display: flow-root; }
  .workflow .workflow__icons-1 {
    margin-left: 30px; }
  .workflow .workflow__right-side {
    background-image: url(../../images/Image\ 7.png);
    background-repeat: no-repeat;
    background-size: contain; }

.trust-us {
  margin-bottom: 160px; }
  .trust-us .trust-us__header {
    font-family: poppins-bold;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #1e1c24;
    margin-bottom: 0; }
  .trust-us .trust-us__paragraph {
    font-family: poppins;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: #525ffb; }

.main-footer {
  text-align: center; }
  .main-footer .main-footer__header {
    font-family: poppins-bold;
    font-size: 30px;
    line-height: 1.2;
    color: #1e1c24; }
  .main-footer .main-footer__paragraph {
    font-family: muli-bold;
    font-size: 24px;
    font-weight: 300;
    color: #666566;
    margin-bottom: 60px; }
  .main-footer .main-footer__form {
    display: flow-root;
    margin-top: 40px; }
  .main-footer .main-footer__form-input {
    padding: 15px 80px 15px 20px;
    border-radius: 100px;
    border: solid 2px #b1aaaa;
    font-family: muli-bold;
    margin-bottom: 25px;
    outline: 0; }
  .main-footer .main-footer__form button {
    color: #fff;
    background-color: #525ffb;
    padding: 18px 45px;
    font-family: poppins-bold; }

@media only screen and (max-width: 768px) {
  .main-nav__link {
    margin-top: -15px; }

  .task-software__info {
    margin-top: 40px; }

  .workflow__image {
    margin-top: 40px; }

  .main-header__image {
    margin-top: 40px; }

  .trust-us .trust-us__header {
    font-size: 26px;
    margin-bottom: 25px; }

  .service .my-card {
    height: 100%; } }
@media only screen and (min-width: 992px) {
  .main-header .main-header__title {
    font-size: 48px; }

  .service .service__main-header {
    font-size: 40px; }
  .service .sevice__row {
    flex-direction: row; }
  .service .my-card {
    margin: 35px; }
  .service .my-card__img {
    width: 240px;
    margin: auto; }

  .task-software .task-software__header {
    font-size: 32px; }
  .task-software .task-software__info {
    margin-right: 40px; }

  .trust-us .trust-us__paragraph {
    font-size: 95px; }
  .trust-us .trust-us__postion {
    position: relative; }
  .trust-us .trust-us__postion-image {
    position: absolute;
    bottom: 0;
    left: 25%; } }
@media only screen and (min-width: 1335px) {
  .main-header .main-header__form-input {
    padding: 18px 100px 18px 22px;
    margin-left: 35px; }
  .main-header .main-header__form button {
    padding: 18px 45px; }

  .service {
    margin-bottom: 300px; }

  .task-software .task-software__info {
    width: 80%; }

  .workflow .workflow__header {
    font-size: 40px; }

  .main-footer .main-footer__header {
    font-size: 50px; }
  .main-footer .main-footer__paragraph {
    width: 48%;
    margin: 0 auto 40px;
    font-size: 27px; }
  .main-footer .main-footer__form-input {
    padding: 15px 80px 15px 20px;
    margin-left: 25px; } }
@media only screen and (min-width: 1400px) {
  .main-header {
    margin-bottom: 270px; }
    .main-header .main-header__title {
      font-size: 60px; }

  .task-software {
    margin-bottom: 385px; }
    .task-software .task-software__header {
      font-size: 50px; }
    .task-software .task-software__header {
      font-size: 39px; }
    .task-software .task-software__paragrapgh {
      font-size: 13px; }

  .workflow .workflow__header {
    font-size: 50px; }

  .trust-us {
    margin-bottom: 210px; }
    .trust-us .trust-us__header {
      font-size: 50px; }
    .trust-us .trust-us__paragraph {
      font-size: 150px; } }

/*# sourceMappingURL=main-rtl.css.map */
